@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-saira: "Saira", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-primary-text: rgba(35, 38, 47, 1);
  --color-brand: rgba(40, 111, 108, 1);
}

.header-style {
  @apply font-semibold text-2xl leading-[130%] tracking-[0px] capitalize md:text-[40px];
}

.text-style {
  @apply font-normal text-sm leading-[170%] tracking-[0px] md:text-[20px];
}

.subheader-style {
  @apply font-semibold text-base leading-[28px] tracking-[0px] md:text-[20px];
}

.paragraph-style {
  @apply font-normal text-sm leading-[28px] tracking-[0px] md:text-[16px];
}

body {
  font-family: var(--font-saira);
  color: var(--color-primary-text);
}

#hero {
  background-image: url("/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 850px;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("/mobile/image-hero-mobile.png");
    background-size: cover;
  }

  .banner-grid:nth-child(2),
  .banner-grid:nth-child(4) {
    border-right: none;
  }
}

li {
  list-style: none;
  width: 64px;
  text-align: center;
}

.desktop-menu a:hover {
  font-weight: 500;
}

.banner-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid white;
}

.banner-grid > :not(:first-child) {
  font-size: 14px; /* Font size */
  line-height: 130%; /* Line height */
  letter-spacing: 1%; /* Letter spacing */
  text-align: center; /* Center text */
  text-transform: none;
}

.banner-grid:last-child {
  border-right: none;
}

.banner-grid .figure {
  font-size: 40px;
}

/* hamburger menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

#menu {
  transition: all 0.5s;
}

.cta-button {
  backdrop-filter: blur(10px);
  background: rgba(226, 226, 226, 0.144);
}
